@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font-family: 'Press Start 2P', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #282c34;
}

/* Estilos para el juego */
.pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

/* Eliminar el contorno azul al hacer focus en elementos */
:focus {
  outline: none;
}

/* Asegurar que el juego tenga foco para capturar eventos de teclado */
.game-board:focus {
  outline: none;
}
